html {
  scroll-behavior: smooth;
}

body {
  background: #211e30;
  font-family: "Baloo Tamma 2", cursive;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 15px !important;
  border: 3px solid !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-decoration: none !important;
  -webkit-transition: all 0.4s ease !important;
  transition: all 0.4s ease !important;
}

.btn:hover,
.btn:focus {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #f5ba09 !important;
  -webkit-box-shadow: #222 1px 0 10px !important;
          box-shadow: #222 1px 0 10px !important;
  -webkit-transition: all 0.4s ease !important;
  transition: all 0.4s ease !important;
}

.bbtns {
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
}

.m-heading {
  font-family: "Rooto Slab", serif;
}

nav {
  background-color: #1f2235af;
}
nav a:hover {
  text-decoration: none;
  border-bottom: 2px solid #f5ba09 !important;
  -webkit-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
}
nav .nav {
  padding-right: 10px;
}
nav .nav .nav-link {
  border: 2px solid transparent;
}

.main-container {
  min-height: 100hv;
  padding-top: 100px;
}

.main_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_row h1 {
  font-size: 5rem;
}

.main_row img {
  width: auto;
  height: 45rem;
  padding-bottom: 130px;
}

#about {
  background: #313552;
  border-radius: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  background: #222 !important;
  border-radius: 10px;
  height: 430px;
  margin: auto;
  border: 1px solid #f5ba09 !important;
  color: rgba(250, 250, 250, 0.8) !important;
  margin-bottom: 2rem !important;
  margin-top: 40px;
}

.card:hover {
  -webkit-box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

#social {
  background: #313552;
}

.media_link {
  padding: 1rem;
  max-width: 13rem;
  max-height: 4rem;
  margin-left: 1rem;
  border: 2px solid #f5ba09c2;
  border-radius: 0.5rem;
}

.cont {
  color: #1f2235;
}

.cont-link {
  padding: 1rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: 4rem;
  margin-left: 1rem;
  border: 2px solid #80630fd8;
  border-radius: 0.5rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/*# sourceMappingURL=main.css.map */